{{template "layout" .}}

{{define "title"}}
<title>Watch</title>
{{end}}

{{define "styles"}}
{{end}}

{{define "scripts"}}
    {{ $videoID := .Params.video }}
    {{ $videoURL := printf "http://localhost:8081/playlist/%s-playlist.m3u8" $videoID }}

    <div>A</div>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <script>
        console.log("Running");

        if (Hls.isSupported()) {
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('{{$videoURL}}');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
                video.play();
            });
        }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = '{{$videoURL}}';
            video.addEventListener('loadedmetadata', function () {
                video.play();
            });
        }
    </script>
{{end}}


{{define "content"}}
    {{/* {{ $videoID := .Params.video }}
    {{ $videoURL := printf "https://example.com/hls/%s.m3u8" $videoID }}
    <div class="max-w-screen-xl h-auto flex flex-wrap items-center justify-between mx-auto p-4">
        <video id="video" controls></video>
    </div> */}}
    <video id="player"></video>
{{end}}