{{block "htmlx/videos" .}}
    {{ $arr := until 2 }}
    {{ range $arr }}
    <a href="http://localhost:8080/watch/75ulM9UN6k8?si=4EzsxZ5Y7UJ7bmoR" class="transition-zoom-in" >
        <div class="py-3 pointer-events-none w-full flex justify-center align-middle">
            {{template "components/video-ytb" .}}
        </div>
    </a>
    {{ end }}
{{end}}

{{define "scripts"}}
    <script>
        {{/* TODO: add transition when loading this new element into doom */}}
        {{/* const els = document.querySelector('.transform-zoom-in');
        els.forEach(
            el => requestAnimationFrame(() => {
                    el.style.width = "fit-content";
                    el.style.height = "fit-content";
                }
            )); */}}
    </script>
{{end}}