{{define "components/button/common"}}
{{with .}}
{{$icon := .icon}}
{{$label := .label}}
{{$htmlx := .htmlx}}
{{$class := .class}}

    <button type="button"
        class="w-1/2 h-10 px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 {{$class}}"
        {{$htmlx|attr}}
    >
        {{template "components/loader" map "boxCSS" "htmx-indicator" "loadCSS" "w-4 h-4"}}

        {{if eq $icon "plus"}}
        {{else}}
        {{template "components/svg/icons" $icon}}
        {{end}}
        <span class="w-full">
        {{$label}}
        </span>
    </button>
{{end}}
{{end}}

