{{template "layout"}}

{{define "title"}}
<title>Home</title>
{{end}}

{{define "content"}}
<div class="container m-3">
    <div id="content"></div>
    <div class="container">
        <button class='btn' hx-get="/todos" hx-target="#content" hx-swap="outerHTML">
            Load Todos <img class="htmx-indicator" width="100px"
                src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif">
        </button>

        <button class='btn' hx-get="/videos" hx-target="#content" hx-swap="outerHTML">
            Load Todos <img class="htmx-indicator" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif">
        </button>
    </div>
</div>
{{end}}