{{template "layout" .}}

{{define "title"}}
<title>Home</title>
{{end}}


{{define "content"}}
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 container">

    {{template "htmlx/todos"}}

    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-full h-px my-8 bg-gray-900 border-0 ">
        <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2">
            Content
        </span>
    </div>

    <div id="content" class="grid grid-cols-2 gap-4 w-full">
        {{template "htmlx/videos"}}
    </div>
    <div class="container w-96">
        <button
            type="button"
            class="button-common"
            hx-get="/htmlx/videos"
            hx-target="#content"
            hx-swap="beforeend"
        >
            {{template "components/loader" map "boxCSS" "htmx-indicator" "loadCSS" "w-4 h-4"}}
            <span class="btn-label-loader">
                Load more
            </span>
        </button>
    </div>
</div>
{{end}}