<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet">
    <title>Not found</title>
    {{block "styles" .}}{{end}}
</head>

<body>
<div class="flex w-full h-screen align-middle justify-center justify-items-center">
    <h1 >404 Not Found</h1>
</div>
</body>
</html>