{{define "components/video-ytb"}}

<figure class="m-5 text-center">
    <img class="w-48" src="http://localhost:8080/assets/img/video.svg" alt="Example Image">
    <figcaption>This is an example image</figcaption>
</figure>

{{end}}

{{define "components/video-local" }}

{{end}}