
{{define "components/lists/nested"}}
    <ol class="space-y-4 text-gray-500 list-decimal list-inside dark:text-gray-400">
        <li>
            {{block "components/lists/nested:li" .}}{{end}}
            <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
                {{block "components/lists/nested:subli" .}}{{end}}
            </ul>
        </li>
    </ol>
{{end}}
