{{block "htmlx/videos" .}}
    {{ $arr := until 2 }}
    {{ range $arr }}
    <a
        href="http://localhost:8080/watch/football"
        class="transition-zoom-in"
    >
        <div class="py-3 pointer-events-none w-full flex justify-center align-middle">
            <figure class="m-5 text-center">
                <img
                    class="w-48"
                    src="http://localhost:8080/assets/img/video.svg"
                    alt="Example Image">
                <figcaption>Football</figcaption>
            </figure>
        </div>
    </a>
    {{ end }}
{{end}}